<style type="text/css">
.root{
      display: flex;
      align-items: center;
     justify-content: center;
 }
 .subdiv{
     width: 800;
     height: auto;
     border: 1px solid #ced6e0;
     padding: 20px;
     margin-top: 80px;
     border-radius: 8px;
     background-color: #dfe4ea;

   }

</style>


<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Of Events</title>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <p class="navbar-brand" >NavBar</p>
    <a class="nav-link" href="/eventregistration">Register New Event <span class="sr-only">(current)</span></a>
    <a class="nav-link" href="/likedevents">Go to liked Events</a>

</nav>
<form action="/addtoliked" method="post" enctype="multipart/form-data"> {% csrf_token %}
<div class="root">

    <div class="subdiv">
    <center><h3>List of Events</h3></center>

<center>
   {%  for row in rows %}


    <div class="col">
<div class="card" style="width: 18rem;">
  <img src="/static/{{ row.5}}" class="card-img-top" >
  <div class="card-body">
      <input type="hidden"  name='eid'  value='{{ row.0 }}'  class="form-control" >
    <p class="card-text">{{row.1}} </p>
      <p class="card-text">{{row.2}} &ensp; &ensp; {{row.3}} </p>
      <p class="card-text">{{row.4}} &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp; &ensp;
          

          <a href="/addtoliked?eid={{ row.0 }}" class="btn btn-danger"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
  <path d="M8 6.236l-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
</svg> LIKE</a>



      </p>

  </div>
</div>
</div>

   {% endfor %}
</center>
</div>
</div>
    </form>
</body>
</html>